@model IEnumerable<LovelyWaffles.MVC.Models.Waffle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaffleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WaffleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WaffleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WaffleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WaffleId })
                </td>
            </tr>
        }
    </tbody>
</table>
